/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.closeBtn {
	-fx-background-color: transparent;
	-fx-border-radius: 0;
	
	-fx-transition: background-color 1s;
}

.closeBtn:hover {
	-fx-background-color: #D10F00;
}