.text-area {
    text-area-background: red;
    -fx-background-color: red;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.button {
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-radius: 0;
	-fx-border-style: none;
}

.button:hover {
		-fx-background-color: rgba(150,150,150,0.5);
}

/* LOGIN PAGE */

.textFieldStart {
	-fx-border-radius: 0;
}

.buttonStart {
	-fx-background-color: rgba(0,0,0,0);
	-fx-border-style: solid;
	-fx-border-color: #888888;
	-fx-border-width: 1;
}
.buttonStart:hover {
	-fx-background-color: #DDDDDD;
}
.buttonStart:pressed {
	-fx-background-color: #CCCCCC;
}

.notebookPane {
	-fx-border-style: solid;

}

.notebookPaneSelected {
	-fx-background-color: #CCC;
}